:root {
    overflow-x: hidden;
    -webkit-overflow-x:hidden;
    width:100%;
    --frontColour: #CAD8EC;
    --backColour: #D9E2F0;
}
* {
    font-family: 'Poppins';
font-style: normal;
margin:0;
}
h2 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 110px;
color: #454647;
}
p {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
}
h3 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 64px;
padding-top: 2rem;
color: #454647;

}
h4 {
    font-size: 36px;
    font-weight: 500;
    color: #454647;
}
body {
    margin: 0;
    padding: 0;
    background-color: #F6F6F6;
    z-index: -2;
    
    
}
.title {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}
.title-wrapper {
    width: 100vw;
    margin-left: 200px;
    
    


}
.hi-im {

padding: 0;
margin: 0;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 32px;
animation: side-load 0.5s;
}
.title-name {

padding: 0;
margin: 0;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
background: linear-gradient(86.7deg, #618FD2 -11.36%, #A6C0F0 40.16%, #C0D3FB 88.51%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
font-size: 128px;
min-width: 900px;

animation: side-load 1s;


}
.desc {
position: relative;
left:20%;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 32px;
animation: side-load 1.5s;
margin: 0;
word-wrap: break-word;
}
@keyframes side-load {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    

    100% {
        opacity: 100;
    }
}
.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2000px;
}

.circles div:nth-child(1) {
    background-color: var(--frontColour);
    left: 40%;
    position: absolute;
    top:-80px;
    animation: circle-bg 30s infinite;
    animation-delay: 5s;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    z-index:-1;
    
}
.circles div:nth-child(2) {
    left: 5%;
    background-color: var(--backColour);
    position: absolute;
    top:-100px;
    animation: circle-bg 30s infinite;
    animation-delay: 2.5s;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    z-index:-1;
}
.circles div:nth-child(3) {
    left: 72%;
    background-color: var(--frontColour);
    position: absolute;
    top:-150px;
    animation: circle-bg 30s infinite;
    animation-delay: 7.5s;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    z-index:-1;
}
.circles div:nth-child(4) {
    left: 16%;
    background-color: var(--backColour);
    position: absolute;
    top:-60px;
    animation: circle-bg 30s infinite;
    animation-delay: 10s;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    z-index:-1;
}
.circles div:nth-child(5) {
    position: absolute;
    top:-120px;
    left: 48%;
    background-color: var(--frontColour);
    animation: circle-bg 30s infinite;
    animation-delay: 12.5s;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    z-index:-1;
}
.circles div:nth-child(6) {
    position: absolute;
    top:-100px;
    left: 80%;
    background-color: var(--backColour);
    animation: circle-bg 30s infinite;
    animation-delay: 15s;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    z-index:-1;
}
.circles div:nth-child(7) {
    position: absolute;
    top:-100px;
    left: 24%;
    background-color: var(--frontColour);
    animation: circle-bg 30s infinite;
    animation-delay: 17.5s;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    z-index:-1;
}
.circles div:nth-child(8) {
    left: 56%;
    background-color: var(--backColour);
    position: absolute;
    top:-60px;
    animation: circle-bg 30s infinite;
    animation-delay: 20s;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    z-index:-1;
}
.circles div:nth-child(9) {
    position: absolute;
    top:-120px;
    left: 88%;
    background-color: var(--frontColour);
    animation: circle-bg 30s infinite;
    animation-delay: 22.5s;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    z-index:-1;
}
.circles div:nth-child(10) {
    position: absolute;
    top:-100px;
    left: 32%;
    background-color: var(--backColour);
    animation: circle-bg 30s infinite;
    animation-delay: 25s;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    z-index:-1;
}
.circles div:nth-child(11) {
    left: 64%;
    background-color: var(--frontColour);
    position: absolute;
    top:-60px;
    animation: circle-bg 30s infinite;
    animation-delay: 27.5s;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    z-index:-1;
}
.circles div:nth-child(12) {
    position: absolute;
    top:-120px;
    left: 96%;
    background-color: var(--backColour);
    animation: circle-bg 30s infinite;
    animation-delay: 30s;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    z-index:-1;
}

@keyframes circle-bg {
    0% { 
        
        transform: translateY(-100px);
        opacity: 0.6;
        filter: blur(8px);
        -webkit-filter: blur(8px);

    }
    65% {
        opacity: 0.3;
    }
    100% {

        transform: translateY(2100px);
        opacity: 0;
        filter: blur(8px);
        -webkit-filter: blur(8px);

    }
}

#page-layout {
    display: grid;
    width:100vw;
    margin-top: 100px;
    grid-template-columns: 1fr 10fr;
    grid-template-areas: 
    "sidebar about"
    "sidebar experience"
    "sidebar work"
    ;
    
}
.social-menu-wrapper {
    position: relative;
    grid-area: sidebar;
    
    
}

.positioning-social {
    opacity: 0;

    bottom: 10px;
}

.social-menu {
    position: fixed;
    margin-left:30px;
    opacity: 0;

    
}

.socialanim {
    animation: socialanimate 1s forwards;
}

@keyframes socialanimate {
    0% { opacity: 0;

    }
    100% {
        opacity: 1;

    }
}

.socialanimremove {
    animation: socialanimateremove 0.3s forwards;
}

@keyframes socialanimateremove {
    0% {

        opacity: inherit;
    
    }

    100% {
        opacity:0;
    }
}

#linkedin {
    width: 50px;
    position: absolute;
    top: 138px;
    left: 0px;
    
}

#github {
    width: 50px;
    position: absolute;
    top: 233px;
    left: 0px;
    
}
.about-me-wrapper {
    grid-area: about;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

.darker-wrapper {
    background: linear-gradient(145deg, #ffffff33, #dedede33);
        backdrop-filter: blur(6.3px);
        -webkit-backdrop-filter: blur(6.3px);
}

.about-me {
    
    padding-right: 2rem;
    padding-bottom: 55px;
    padding-top: 30px;
    flex-grow: 10;
    display: flex;
    gap: 3rem;
    border-top-left-radius: 125px;
    border-bottom-left-radius: 25px;
    
}
.animme {
    animation: pop 1s forwards;
}
.noanim {
    
   animation: unpop 1s forwards;
    
}

@keyframes unpop {
    0% {
        transform: translateX(20px) translateY(-20px);
    }
    100% {
        transform: translateX(0px) translateY(0px);
    }
}
@keyframes pop {
    0%{ transform: translateX(0px) translateY(0px);

    }
    100%{
        transform: translateX(20px) translateY(-20px);

    }
}
.left-about-content {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    margin-left: 100px;
    gap: 2rem;
}
.left-about-content h2{
    font-size: 6rem;
}

.right-about-content {
    flex-grow: 1;
    
    
    
    justify-content: center;
}

.skills {
    display: flex;
    gap: 3rem;
    margin-left: 2rem;
    justify-content: space-around;
    margin-right: 2rem;
   
}

.dark-wrapper {
    background: linear-gradient(145deg, #ffffff33, #dedede33);
        backdrop-filter: blur(6.3px);
        -webkit-backdrop-filter: blur(6.3px);
}
.skills-title  {
    
    border-radius: 10px;
    padding: 0.5rem 3rem;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
}



.technical {
   
    border-radius: 10px;
    padding: 1rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    
}
.non-technical {
    
    border-radius: 10px;
    padding: 1rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    
}

.technical h3 {
    padding: 0;
    font-size: 3rem;
}
.non-technical h3 {
    padding: 0;
    font-size: 3rem;
}

.animate-skills{
    animation: skillsanim 1s forwards;
    animation-delay: 0.5s;
}

@keyframes skillsanim {
    0% {
        transform: translateY(0px) translateX(0px);

    }
    100% {
        transform: translateY(-10px) translateX(10px);
        
    }
}
.unanimate-skills{
    animation: unskillsanim 1s forwards;
    animation-delay: 0s;
}

@keyframes unskillsanim {
    0% {
        transform: translateY(-10px) translateX(10px);

    }
    100% {
        transform: translateY(0px) translateX(0px);
        
    }
}

.animate-tech{
    animation: techanim 1s forwards;
    animation-delay: 1s;
}

@keyframes techanim {
    0% {
        transform: translateY(0px) translateX(0px);

    }
    100% {
        transform: translateY(-10px) translateX(10px);
        
    }
}
.unanimate-tech{
    animation: untechanim 1s forwards;
    animation-delay: 0s;
}

@keyframes untechanim {
    0% {
        transform: translateY(-10px) translateX(10px);

    }
    100% {
        transform: translateY(0px) translateX(0px);
        
    }
}
.animate-nontech{
    animation: nontechanim 1s forwards;
    animation-delay: 1.5s;
}

@keyframes nontechanim {
    0% {
        transform: translateY(0px) translateX(0px);

    }
    100% {
        transform: translateY(-10px) translateX(10px);
        
    }
}
.unanimate-nontech{
    animation: unnontechanim 1s forwards;
    animation-delay: 0s;
}

@keyframes unnontechanim {
    0% {
        transform: translateY(-10px) translateX(10px);

    }
    100% {
        transform: translateY(0px) translateX(0px);
        
    }
}

#left-gradient-circle {
    position: absolute;
    z-index:-1;
    width:900px;
    left: -331px;
    top: 1349px;
    
}
#right-gradient-circle {
    position: absolute;
    z-index:-1;
    width: 900px;
    left: 964px;
    top: 971px;
}
.experience {
    height: 100vh;
    grid-area: experience;
}
.experience h2 {
    font-size: 80px;
    display: flex;
    justify-content: center;
}
.rebirth-digital {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 50px;
    border-radius: 15px;
    height: 460px;
    width:80vw;
    
    
}
.background-light{
    position: relative;
    
    
    border-radius: 37px;
background: linear-gradient(145deg, #ffffff30, #dddddd30);
            
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    top: -480px;
    height:700px;
    width: 85vw;
    z-index:-1;
    
    
}
#lines {
    position: absolute;
    width: 100vw;
    left: -0px;
    top: 3000px;
    z-index:-2;
}
.rebirth-title {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 5rem;
    margin-right: 5rem;
}
.rebirth-title h3 {
    padding-top: 1rem;
    font-weight: 500;
}
.rebirth-title h4 {
    font-weight: 400;
}
.rebirth-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-right: 5rem;
    margin-left: 5rem;
}
.rebirth-content img {
    width: 450px;
}
.rebirth-right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
}
.rebirth-right-content button {
    height: 70px;
    width: 150px;
    border-radius: 10px;
    border: 0;
    background-color: var(--frontColour);

    
    box-shadow: -5px 5px 0px var(--backColour);
    cursor: pointer;
    font-size: 24px;
    
    
}

.rebirth-right-content button:active {
    transform: translateX(-5px) translateY(5px);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: all 0.1s ease-in-out;
}

#dividing-gradient {
    position: absolute;
width: 100vw;
height: 841px;
left: 0px;
top: 2857px;
z-index: -2;
}