:root {
    overflow-x: hidden;
    -webkit-overflow-x:hidden;
    width:100%;
    --frontColour: #CAD8EC;
    --backColour: #D9E2F0;
}
* {
    font-family: 'Poppins';
font-style: normal;
margin:0;
}

@media only screen and (min-width: 850px) and (max-width: 2160px) {
    

h2 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 80px;
color: #454647;

}
p {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
}
h3 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 56px;
padding-top: rem;
color: #454647;

}
h4 {
    font-size: 36px;
    font-weight: 500;
    color: #454647;
}
}
@media only screen and (max-width:849px){
    h2 {
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    color: #454647;
    
    }
    p {
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    }
    h3 {
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    padding-top: 0rem;
    color: #454647;
    
    }
    h4 {
        font-size: 26px;
        font-weight: 500;
        color: #454647;
    }

}
body {
    margin: 0;
    padding: 0;
    background-color: #F6F6F6;
    z-index: -2;
    
    
}
.header-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
    margin-right: 3rem;
    animation: drop 1s forwards;
    animation-delay: 2s;
    opacity: 0;
}

@keyframes drop {
    0%{
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.header-wrapper a {
    margin-top: 10px;
    cursor: pointer;

}

#contact-link {
    background: linear-gradient(to top right, var(--frontColour), var(--backColour));
    padding: 10px;
    border-radius: 5px;
}
#contact-link:hover {
    color: #F6F6F6;
}
.title {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}
@media only screen and (min-width: 930px) and (max-width: 2160px) {
.title-wrapper {
    width: 100vw;
    margin-left: 200px;
    
    
    


}
.hi-im {

padding: 0;
margin: 0;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 32px;
animation: side-load 0.5s;
}
.title-name {

padding: 0;
margin: 0;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
background: linear-gradient(86.7deg, #618FD2 -11.36%, #A6C0F0 40.16%, #C0D3FB 88.51%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
font-size: 128px;
min-width: 900px;

animation: side-load 1s;


}
.desc {
position: relative;
left:20%;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 32px;
animation: side-load 1.5s;
margin: 0;
word-wrap: break-word;
}
}
@media only screen and (max-width: 929px) {
    .title-wrapper {
        width: 100vw;
        margin-left: 100px;
        
        
        
    
    
    }
    .hi-im {
    
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    animation: side-load 0.5s;
    }
    .title-name {
    
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    background: linear-gradient(86.7deg, #618FD2 -11.36%, #A6C0F0 40.16%, #C0D3FB 88.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 80px;
    min-width: 900px;
    
    animation: side-load 1s;
    
    
    }
    .desc {
    position: relative;
    left:20%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    animation: side-load 1.5s;
    margin: 0;
    word-wrap: break-word;
}
}
@keyframes side-load {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    

    100% {
        opacity: 100;
    }
}
.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2000px;
    z-index:-1;
}

.circles div:nth-child(1) {
    background-color: var(--frontColour);
    left: 40%;
    position: absolute;
    top:-80px;
    animation: circle-bg 30s infinite;
    animation-delay: 3s;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    z-index:-1;
    
}
.circles div:nth-child(2) {
    left: 5%;
    background-color: var(--backColour);
    position: absolute;
    top:-100px;
    animation: circle-bg 30s infinite;
    animation-delay: 0s;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    z-index:-1;
}
.circles div:nth-child(3) {
    left: 72%;
    background-color: var(--frontColour);
    position: absolute;
    top:-150px;
    animation: circle-bg 30s infinite;
    animation-delay: 6s;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    z-index:-1;
}
.circles div:nth-child(4) {
    left: 16%;
    background-color: var(--backColour);
    position: absolute;
    top:-60px;
    animation: circle-bg 30s infinite;
    animation-delay: 10s;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    z-index:-1;
}
.circles div:nth-child(5) {
    position: absolute;
    top:-120px;
    left: 48%;
    background-color: var(--frontColour);
    animation: circle-bg 30s infinite;
    animation-delay: 12.5s;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    z-index:-1;
}
.circles div:nth-child(6) {
    position: absolute;
    top:-100px;
    left: 80%;
    background-color: var(--backColour);
    animation: circle-bg 30s infinite;
    animation-delay: 15s;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    z-index:-1;
}
.circles div:nth-child(7) {
    position: absolute;
    top:-100px;
    left: 24%;
    background-color: var(--frontColour);
    animation: circle-bg 30s infinite;
    animation-delay: 17.5s;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    z-index:-1;
}
.circles div:nth-child(8) {
    left: 56%;
    background-color: var(--backColour);
    position: absolute;
    top:-60px;
    animation: circle-bg 30s infinite;
    animation-delay: 20s;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    z-index:-1;
}
.circles div:nth-child(9) {
    position: absolute;
    top:-120px;
    left: 88%;
    background-color: var(--frontColour);
    animation: circle-bg 30s infinite;
    animation-delay: 22.5s;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    z-index:-1;
}
.circles div:nth-child(10) {
    position: absolute;
    top:-100px;
    left: 32%;
    background-color: var(--backColour);
    animation: circle-bg 30s infinite;
    animation-delay: 25s;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    z-index:-1;
}
.circles div:nth-child(11) {
    left: 64%;
    background-color: var(--frontColour);
    position: absolute;
    top:-60px;
    animation: circle-bg 30s infinite;
    animation-delay: 27.5s;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    z-index:-1;
}
.circles div:nth-child(12) {
    position: absolute;
    top:-120px;
    left: 96%;
    background-color: var(--backColour);
    animation: circle-bg 30s infinite;
    animation-delay: 30s;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    z-index:-1;
}

@keyframes circle-bg {
    0% { 
        
        transform: translateY(-100px);
        opacity: 0.6;
        filter: blur(8px);
        -webkit-filter: blur(8px);

    }
    65% {
        opacity: 0.3;
    }
    100% {

        transform: translateY(2100px);
        opacity: 0;
        filter: blur(8px);
        -webkit-filter: blur(8px);

    }
}

#page-layout {
    display: grid;
    width:100vw;
    height: 2500px;
    grid-template-columns: 1fr 10fr;
    grid-template-areas: 
    "sidebar about"
    "sidebar experience"
    "sidebar contactme"
    ;
    
}
.social-menu-wrapper {
    position: relative;
    grid-area: sidebar;
    
    
}

.positioning-social {
    opacity: 0;

    bottom: 10px;
}

.social-menu {
    position: fixed;
    margin-left:30px;
    opacity: 0;

    
}

.socialanim {
    animation: socialanimate 1s forwards;
}

@keyframes socialanimate {
    0% { opacity: 0;

    }
    100% {
        opacity: 1;

    }
}

.socialanimremove {
    animation: socialanimateremove 0.3s forwards;
}

@keyframes socialanimateremove {
    0% {

        opacity: inherit;
    
    }

    100% {
        opacity:0;
    }
}

#linkedin {
    width: 50px;
    position: absolute;
    top: 138px;
    left: 0px;
    
}

#github {
    width: 50px;
    position: absolute;
    top: 233px;
    left: 0px;
    
}
.about-me-wrapper {
    grid-area: about;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


@media only screen and (min-width:850px) and (max-width:2160px) {
    .about-me {
        background: linear-gradient(145deg, #ffffff33, #dedede33);
        backdrop-filter: blur(6.3px);
        -webkit-backdrop-filter: blur(6.3px);
        width: 80vw;
        display: flex;
        gap: 3rem;
        justify-content: center;
        align-items: center;
        opacity: 0;
        
        
    }
    }
@media only screen and (max-width:849px) {
.about-me {
    background: linear-gradient(145deg, #ffffff33, #dedede33);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    width: 80vw;
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
    }
.animme {
    animation: pop 1s forwards;
}
.noanim {
    
   animation: unpop 1s forwards;
    
}

@keyframes unpop {
    0% {
        transform: translateX(0) ;
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(100%);

    }
}
@keyframes pop {
    0%{ transform: translateX(100%);
        opacity: 0;

    }
    100%{
        transform: translateX(0);
        opacity: 1;

    }
}
.left-about-content {
    display: flex;
    
    margin-left: 100px;
    gap: 2rem;
}


.right-about-content {
    
    justify-content: center;
}
.right-about-content img {
    width:20vw;
}
@media only screen and (min-width:950px) and (max-width:2160px) {

.mobile-skills {
    display: none;
}
.skills {
    display: flex;
    gap: 3rem;
    margin-left: 100px;
    justify-content: space-around;
    margin-right: 2rem;
    align-items: center;
}
.skills-title  {
    
    border-radius: 10px;
    padding: 0.5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    background: linear-gradient(145deg, #ffffff33, #dedede33);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    opacity: 0;
}



.technical {
   
    border-radius: 10px;
    padding: 1rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    background: linear-gradient(145deg, #ffffff33, #dedede33);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    opacity: 0;
    
}
.non-technical {
    
    border-radius: 10px;
    padding: 1rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    background: linear-gradient(145deg, #ffffff33, #dedede33);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    opacity: 0;
    
}
}
@media only screen and (max-width:949px) {
    
    .skills {
        display: none;
    }
    .mobile-skills {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-left: 100px;
        justify-content: space-around;
        margin-right: 2rem;
        align-items: center;
    }
    .mobile-skills-seperator {
        display: flex;
        gap: 3rem;
        justify-content: center;
        align-items: center;
    }
    .mobile-skills-title  {
    
        border-radius: 10px;
        padding: 0.5rem 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom-right-radius: 2rem;
        border-top-left-radius: 2rem;
        background: linear-gradient(145deg, #ffffff33, #dedede33);
        backdrop-filter: blur(6.3px);
        -webkit-backdrop-filter: blur(6.3px);
        opacity: 0;
    }
    
    
    
    .mobile-technical {
       
        border-radius: 10px;
        padding: 1rem;
        border-bottom-right-radius: 2rem;
        border-top-left-radius: 2rem;
        background: linear-gradient(145deg, #ffffff33, #dedede33);
        backdrop-filter: blur(6.3px);
        -webkit-backdrop-filter: blur(6.3px);
        opacity: 0;
        
    }
    .mobile-non-technical {
        
        border-radius: 10px;
        padding: 1rem;
        border-bottom-right-radius: 2rem;
        border-top-left-radius: 2rem;
        background: linear-gradient(145deg, #ffffff33, #dedede33);
        backdrop-filter: blur(6.3px);
        -webkit-backdrop-filter: blur(6.3px);
        opacity: 0;
        
    }
}
   

.animate-skills{
    animation: skillsanim 1s forwards;
   
}
.unanimate-skills{
    animation: unskillsanim 1s forwards;
    animation-delay: 0s;
}
.animate-tech{
    animation: techanim 1s forwards;
    
}
.unanimate-tech{
    animation: untechanim 1s forwards;

}
.animate-nontech{
    animation: nontechanim 1s forwards;
   
}
.unanimate-nontech{
    animation: unnontechanim 1s forwards;
    animation-delay: 0s;
}
@media only screen and (min-width: 850px) and (max-width: 2160px) {
@keyframes skillsanim {
    0%{ transform: translateY(100%);
        opacity: 0;

    }
    100%{
        transform: translateY(0);
        opacity: 1;

    }
}


@keyframes unskillsanim {
    0% {
        transform: translateY(0) ;
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(100%);

    }
}


@keyframes techanim {
    0%{ transform: translateY(100%);
        opacity: 0;

    }
    100%{
        transform: translateY(0);
        opacity: 1;

    }
}


@keyframes untechanim {
    0% {
        transform: translateY(0) ;
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(100%);

    }
}


@keyframes nontechanim {
    0%{ transform: translateY(100%);
        opacity: 0;

    }
    100%{
        transform: translateY(0);
        opacity: 1;

    }
}


@keyframes unnontechanim {
    0% {
        transform: translateY(0) ;
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(100%);

    }
}
}
@media only screen and (max-width: 849px) {
    @keyframes skillsanim {
        0%{ transform: translateX(100%);
            opacity: 0;
    
        }
        100%{
            transform: translateX(0);
            opacity: 1;
    
        }
    }
    
    
    @keyframes unskillsanim {
        0% {
            transform: translateX(0) ;
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: translateX(100%);
    
        }
    }
    
    
    @keyframes techanim {
        0%{ transform: translateX(100%);
            opacity: 0;
    
        }
        100%{
            transform: translateX(0);
            opacity: 1;
    
        }
    }
    
    
    @keyframes untechanim {
        0% {
            transform: translateX(0) ;
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: translateX(100%);
    
        }
    }
    
    
    @keyframes nontechanim {
        0%{ transform: translateX(100%);
            opacity: 0;
    
        }
        100%{
            transform: translateX(0);
            opacity: 1;
    
        }
    }
    
    
    @keyframes unnontechanim {
        0% {
            transform: translateX(0) ;
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: translateX(100%);
    
        }
    }
}

#left-gradient-circle {
    position: absolute;
    z-index:-1;
    width:900px;
    left: -331px;
    top: 1349px;
    
}
#right-gradient-circle {
    position: absolute;
    z-index:-1;
    width: 900px;
    left: 964px;
    top: 971px;
}
#experience {
    height: 100vh;
    grid-area: experience;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.experience-content {
    height: 650px;
}
.experience h2 {
    font-size: 80px;
    display: flex;
    justify-content: center;
}
.rebirth-digital {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 50px;
    border-radius: 15px;
    height: 460px;
    width:80vw;
    
    
}

#lines {
    position: absolute;
    width: 100vw;
    left: -0px;
    top: 3000px;
    z-index:-2;
}
.rebirth-title {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 5rem;
    margin-right: 5rem;
    opacity: 0;
}
.rebirth-title-anim {
    animation: title-move 1s forwards;
}
@keyframes title-move {
    0% {
        opacity: 0;
        transform: translateY(-100%);

    }
    100%  {
        opacity: 1;

    }
}

.rebirth-title h3 {
    padding-top: 1rem;
    font-weight: 500;
}
.rebirth-title h4 {
    font-weight: 400;
}
.rebirth-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-right: 5rem;
    margin-left: 5rem;
}
.rebirth-content img {
    width:30vw;
    flex-grow:1;
    opacity: 0;
}
.rebirth-img-anim {
    animation: img-move 1s forwards;
}
@keyframes img-move {
    0% {
        opacity: 0;
        transform: translateX(-100%);

    }
    100%  {
        opacity: 1;

    }
}
.rebirth-right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    
    flex-grow:1;
}
.rebirth-right-content p {
    opacity:0;
}
.rebirth-right-content button {
    height: 70px;
    width: 150px;
    border-radius: 10px;
    border: 0;
    background-color: var(--frontColour);
    box-shadow: -5px 5px 0px var(--backColour);
    cursor: pointer;
    font-size: 24px;
    opacity:0;
    
    
    
    
    
}
.experience-button-anim {
    animation: button-move 1s forwards;
}

@keyframes button-move {
    0%{
        opacity: 0;
        transform: translateY(100%);
   
    }
    100%{
        opacity: 1;

    }
}
.experience-para-anim {
    animation: para-move 1s forwards;
}

@keyframes para-move {
    0%{
        opacity: 0;
        transform: translateX(100%);
   
    }
    100%{
        opacity: 1;

    }
}
.rebirth-right-content button:active {
    transform: translateX(-5px) translateY(5px);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: all 0.1s ease-in-out;
}

#dividing-gradient {
    position: absolute;
width: 100vw;
height: 841px;
left: 0px;
top: 2857px;
z-index: -2;
}
#contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    grid-area: contactme;
    height: 100vh;
    margin-top: 200px;
    
    
}
.contact-me-wrapper {
    height: 650px;
    width: 550px;
    max-width: 550px;
    background: linear-gradient(145deg, #ffffff33, #dedede33);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 4rem;
    margin-bottom: 25px;
    border-radius: 10px;

}
.contact-me-wrapper form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.5rem;
}
.contact-title h3 {
 padding:0;
}
.contact-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first-name-wrapper, .last-name-wrapper, .email-address-wrapper, .contact-message-wrapper, .subject-wrapper  {
    display: flex;
    flex-direction: column;

}
.contact-name, .email-address-wrapper, .contact-message-wrapper, .subject-wrapper {
    width: 550px;
}
.first-name-wrapper, .last-name-wrapper {
    width: 250px;
}
input {
    height: 50px;
}
.contact-message-wrapper textarea {
    height: 120px;
    width:549px;
    max-width: 549px;
    min-width:549px;
    min-height:120px;
}

.contact-button:active {
    transform: translateX(-5px) translateY(5px);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: all 0.1s ease-in-out;
}
.contact-button {
    height: 70px;
    width: 550px;
    border-radius: 10px;
    border: 0;
    background-color: var(--backColour);
    box-shadow: -5px 5px 0px var(--frontColour);
    cursor: pointer;
    font-size: 24px; 
    
}